@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
<<<<<<< HEAD
=======

>>>>>>> 060ad07949fb51fe2eff9d45d0859fe2ee7f1a7c
    * {
        margin: 0;
        padding: 0;
    }
<<<<<<< HEAD
=======

>>>>>>> 060ad07949fb51fe2eff9d45d0859fe2ee7f1a7c
    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }
<<<<<<< HEAD
=======

>>>>>>> 060ad07949fb51fe2eff9d45d0859fe2ee7f1a7c
    input,
    button,
    textarea,
    select {
        font: inherit;
    }
<<<<<<< HEAD
=======

>>>>>>> 060ad07949fb51fe2eff9d45d0859fe2ee7f1a7c
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }
<<<<<<< HEAD
=======

>>>>>>> 060ad07949fb51fe2eff9d45d0859fe2ee7f1a7c
    @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
        }
    }
}