.btn {
    display: inline-block;

    padding: 0.7rem 1rem;

    background-color: var(--color-brand);
    color: var(--color-text-light);

    border: none;
    border-radius: var(--radius-sm);

    font-weight: 700;
    text-align: center;

    cursor: pointer;

    transition: 0.2s ease;
}

.btn:hover {
    background-color: var(--color-brand-hover);
    color: var(--color-text-light);
    transform: scale(1.02);
}